<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Director's Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/general/uph.png">
    <link rel="stylesheet" href="../../static/css/dashboard/sd_dash.css">

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <div class="background"></div>

    <div class="sidebar" id="sidebar">

        <!-- TOP -->
        <div class="top-section">
            <div class="logo-wrapper" id="logoToggle">
                <img src="../../static/img/general/uph.png" class="logo">
                <div class="open-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <button class="close-btn" id="closeBtn">
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>

        <!-- MENU -->
        <ul class="menu">

            <li>
                <a href="sd_dash.html" class="menu-item active">
                    <i class="fas fa-border-all"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>

            <hr>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-user-plus"></i>
                    <span>New Employee Applications</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-user-edit"></i>
                    <span>Position Change Requests</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-calendar-check"></i>
                    <span>Attendance</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-star"></i>
                    <span>Performance Evaluation</span>
                </a>
            </li>

            <li>
                <a href="ENTER class="menu-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Reports</span>
                </a>
            </li>

        </ul>

        <!-- LOGOUT -->
        <div class="bottom-section">
            <a href="../login/login.html" class="menu-item logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Log Out</span>
            </a>
        </div>

    </div>

    </div>

    <script src="../../static/js/dashboard/sd_dash.js"></script>
</body>
</html>